[Unit]
Description=Apache Kafka
Wants=network.target
After=network.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
Environment="LOG_DIR={{ kafka_log_directory }}"
Environment="KAFKA_LOG4J_OPTS=-Dlog4j.configuration=file:{{ kafka_config_directory }}/log4j.properties
{% if kafka_sasl_enabled or kafka_opts %}
Environment="KAFKA_OPTS={% if kafka_sasl_enabled %}-Djava.security.auth.login.config={{ kafka_config_directory }}/jaas.conf{% endif %} {% if kafka_opts %}{{ kafka_opts }}{% endif %}"
{% endif %}
{% if kafka_extra_envs is defined and kafka_extra_envs %}
{% for key, value in kafka_extra_envs.items() %}
Environment="{{ key }}={{ value }}"
{% endfor %}
{% endif %}
ExecStart=/opt/kafka/bin/kafka-server-start.sh {{ kafka_config_directory }}/server.properties
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target